<div class="about">
    <section>
        <h2 tuiTitle="m">
            Почему Spotify?
        </h2>
        <p class="tui-text_body-m-2">
            Помогаем людям оформить подписку на Spotify. На данный момент самамя дешевая подписка в Индии.
        </p>
        <p class="tui-text_body-m-2">
            Все мы любим слущать музыку в хорошем качестве, но, что не менее важно - удобное приложение. На наш взгляд,
            таким приложением является Spotify. В нем доступны все хиты со всего мира.
        </p>
        <h2 tuiTitle="m">
            Стоимость и оплата
        </h2>
        <p class="tui-text_body-m-2">
            Spotify формирует свои цены в зависимости от страны, в которой находится пользователь. Поэтому одна и таже подписка в одной стране может стоить 10$, а в другой 1,75$.
        </p>
        <p class="tui-text_body-m-2">
            Не важно, в какой стране вы сейчас находитесь или какая указана у вас в профиле, мы без труда оформим вам Индийскую подписку!
        </p>
        <p class="tui-text_body-m-2">
            Все общение и оплата происходят через телеграм. Стараемся отвечать сразу, но если по какой-то причине вам не отвечают, то вы можете просто оставить свое сообщение и мы вам ответим при первой возможности. Спасибо за понимание!
        </p>
        <button
            [size]="'m'"
            tuiButton
            (click)="onClick()"
            class="main__btn"
        >
            На главную
        </button>
    </section>
</div>
